# {{.Name}}

{{.Description}}

## Request

|ENV|URL|
|---|---|
|Local|`{{.Request.Method}}` {{.Endpoints.Local}}{{.Request.Path}}|
|Staging|`{{.Request.Method}}` {{.Endpoints.Staging}}{{.Request.Path}}|
|Production|`{{.Request.Method}}` {{.Endpoints.Production}}{{.Request.Path}}|

```
{{.Request.Headers}}
```
```json
{{safe_html .Request.Params}}
```

## Response

```
Status {{.Response.StatusCode}}
```
```json
{{safe_html .Response.Body}}
```
