# {{.Name}}

{{.Description}}

|ENV|URL|
|---|---|
|Local|{{.Endpoints.Local}}|
|Staging|{{.Endpoints.Staging}}|
|Production|{{.Endpoints.Production}}|

## Request

```
{{.Request.Method}}
```
```
{{.Request.Path}}
```
```
{{.Request.Headers}}
```
```json
{{.Request.Params}}
```

## Response

```
{{.Response.StatusCode}}
```
```json
{{.Response.Body}}
```
